nav {
  display: flex;
  justify-content: space-between;
  padding: 0rem;
  margin: none;
  border-bottom: 1px solid lightgrey;
}

ul {
  display: flex;
  padding: none;
  list-style: none;
  color: black;
}

li a {
  text-decoration: none;
  color: black;
  padding-right: 1rem;
}

button {
  background-color: lightgray;
  padding: none;
  width: 4rem;
  height: initial;
  border-radius: 10px;
  border: none;
}

.nightTheme {
  color: white;
  background-color: midnightblue;
}
